.git
**/.gitignore
**/.DS_Store
**/.idea
**/.vscode
**/*.log
**/*.md
**/.turbo
**/*.tsbuildinfo

**/node_modules
**/dist

apps/client/src/generated
apps/server/src/generated
packages/db/src/generated

**/.env
**/.env.local

.artifacts
.evalite
eval-report.json
evalite-report.json

docker-compose*.yml
**/Dockerfile
**/.dockerignore
