# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.omx/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Runtime data
pids
*.pid
*.seed
*.pid.lock
# Dependencies
node_modules

# Build output
dist
.turbo
*.tsbuildinfo

# Code generation output
packages/db/src/generated
apps/client/src/generated/*
!apps/client/src/generated/.gitkeep
apps/server/src/generated/*
!apps/server/src/generated/.gitkeep

# Env
.env
.env.local

# Generated model output
.artifacts

# Evalite run history
evalite-report.json
.evalite
eval-report.json
